@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700,900');

@font-face {
  font-family: "Redacted Regular";
  src: url("../fonts/redacted-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Redacted Script";
  font-weight: 400;
  src: url("../fonts/redacted-script-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Redacted Script";
  font-weight: 300;
  src: url("../fonts/redacted-script-light.woff2") format("woff2");
}

@font-face {
  font-family: "Redacted Script";
  font-weight: 700;
  src: url("../fonts/redacted-script-bold.woff2") format("woff2");
}

/* ---- css variables ---------------------------------- */
:root {
  /* -- layout --------------------- */
  --layer-development :1000;
  --layer-modal 	    : 900;
  --layer-overlay     : 800;
  --layer-dropdown    : 700;
  --layer-header      : 600;
  --layer-footer      : 500;
  --layer-popup 	    : 400;
  --layer-body 	      : 100;
  box-sizing: border-box;
  /* -- fonts ---------------------- */
  font-family: 'Titillium Web', sans-serif;
  /* -- style ---------------------- */
  --color-seashell	     : #f1f1f1;
  --color-silver         : #bebebe;
  --color-dove-gray      : #737373;
  --color-tundora        : #404040;
  --color-mine-shaft     : #262626;
  --color-watercourse    : #057253;
  --color-deepsea        : #02875a;
  --color-whiskey        : #da9c6b;
  --color-crail          : #c16341;
  --color-red-damask     : #d75c4d;
}


/* ---- DEV_MODE --------------------------------------- */
/* *, *::before, *::after { outline: solid 1px cyan } */

.prototype {
  font-family: 'Redacted Regular';
  color: var(--color-silver);
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.prototype-script {
  font-family: 'Redacted Script';
  color: var(--color-silver);
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.bg-blueprint {
  background: slateblue;
  background-image:
    linear-gradient(rgba(255,255,255,.2) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,.2) 2px, transparent 1px),
    linear-gradient(rgba(255,255,255,.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.1) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

/* ---- general ---------------------------------------- */
body {
  z-index: var(--layer-body);
  margin: 0;
}

header {
  z-index: var(--layer-header);
  width: 100vw;
  height: 6rem;
  background: darkcyan;
}

main {
  color: var(--color-seashell);
  background: var(--color-mine-shaft);
  padding: 1rem;
}

footer {
  z-index: var(--layer-footer);
  width: 100vw;
  background: var(--color-mine-shaft);
}

/* ---- text -------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Titillium Web';
  font-weight: 700;
}

h1 { font-weight: 900 }
h2 { font-weight: 700 }
h3 { font-weight: 600 }
h4 { font-weight: 400 }

strong {
  font-weight: 900;
}

article p {
  font-family: 'Titillium Web';
}

::selection {
  color: var(--color-whiskey);
  text-shadow: 1px 1px 0 var(--color-seashell);
}


/* ---- article: colors -------------------------------- */
article#color-palettes section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

article#color-palettes ul {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  list-style: none;
  padding: 0;
}

article#color-palettes li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 8rem;
  height: 8rem;
  padding: 1rem;
  font-weight: 600;
  color: var(--color-seashell);
}

article#color-palettes li P {
  margin: 0;
}


/* ---- article: logotype ------------------------------ */
article#logotype section {
  display: flex;
  flex-direction: column;
}

article#logotype ul{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  max-height: 21rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

article#logotype ul:nth-child(1) { background: #FFFFFF }
article#logotype ul:nth-child(2) { background: var(--color-seashell) }
article#logotype ul:nth-child(3) { background: var(--color-whiskey) }
article#logotype ul:nth-child(4) {
  background: var(--color-mine-shaft);
  border: solid 1px var(--color-tundora)
}
article#logotype ul:nth-child(5) { background: #000000 }

article#logotype li {
  padding: 1rem;
}

article#logotype li span {
  font-weight: 700;
  font-size: 1.5rem;
}

/* ---- signature -------------------------------------- */
section#signature {
  font-family: 'Titillium Web';
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  padding: 0 .5rem;
  background: var(--color-tundora);
  border-top: solid 1px var(--color-dove-gray);
}

section#signature a {
  text-decoration: none;
  color: var(--color-seashell);
  mix-blend-mode: soft-light;
}