@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700,900');

/* ---- css variables ---------------------------------- */
:root {
  --color-seashell	     : #f1f1f1;
  --color-silver         : #bebebe;
  --color-dove-gray      : #737373;
  --color-tundora        : #404040;
  --color-mine-shaft     : #262626;
  --color-watercourse    : #057253;
  --color-deepsea        : #02875a;
  --color-whiskey        : #da9c6b;
  --color-crail          : #c16341;
  --color-red-damask     : #d75c4d;
  --font-weight-extra-light : 200;
  --font-weight-light       : 300;
  --font-weight-regular     : 400;
  --font-weight-semi-bold   : 600;
  --font-weight-bold        : 700;
  --font-weight-black       : 900;
  --z-in-development   :1000;
  --z-index-modal 	   : 900;
  --z-index-overlay    : 800;
  --z-index-dropdown   : 700;
  --z-index-header     : 600;
  --z-index-footer     : 500;
  --z-index-popup 	   : 400;
  --z-index-body 	     : 100;
}


/* ---- general ---------------------------------------- */
html {
  font-family: 'Titillium Web', sans-serif;
}

body {
  z-index: var(--z-index-body);
  color: var(--color-seashell);
  background: var(--color-mine-shaft);
}

header {
  height: 4rem;
  width: 100%;
  z-index: var(--z-index-header);
}

footer {
  height: 4rem;
  width: 100%;
  z-index: var(--z-index-footer);
}

h1 {
  font-family: 'Titillium Web';
  font-weight: var(--font-weight-bold);
  margin-bottom: 2rem;
}

/* ---- articles --------------------------------------- */
article h2 {
  font-family: 'Titillium Web';
  font-weight: var(--font-weight-regular);
  margin-bottom: 1.5rem;
}

article p {
  font-family: 'Titillium Web';
}

/* ---- article: colors -------------------------------- */
article#color-palettes section {
  display: flex;
  flex-flow: column nowrap;
}

article#color-palettes ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 1rem;
  list-style: none;
  padding: 0;
  margin-bottom: 1.5rem;
}

article#color-palettes li {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 8rem;
  height: 8rem;
  padding: 1rem;
  font-weight: 600;
  color: var(--color-seashell);
}

article#color-palettes li P {
  margin: 0;
}

/* ---- article: logo ---------------------------------- */
article#logo section {
  display: flex;
  flex-direction: row;
  padding: 0;
}

article#logo ul {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

article#logo ul:first-child {
  color: var(--color-tundora);
  background: var(--color-seashell);
}

article#logo ul:last-child {
  color: var(--color-silver);
  background: var(--color-mine-shaft);
}

article#logo li {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

article#logo span {
  font-family: 'Titillium Web';
  font-weight: var(--font-weight-bold);
  font-size: 3rem;

}

.colorfulbg {
  background-image: linear-gradient(to right, #d75c4d, #d86950, #d97654, #da8259, #da8d60, #cf9159, #c39555, #b69953, #969649, #749348, #4c8e4e, #02875a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* *, *::before, *::after { outline: solid 1px magenta } */
article#logo * { outline: solid 1px magenta }
